#menu {
    display: block;
    padding: 4px;
}
#about-text {
    font-size: 18px;
    font-weight: 530;
}

#linkedin, #resume, #github {
    margin-right: 20px;
    padding-bottom: 15px;
    font-weight: 100;
}
#resume a {
    text-align: center;
}

#LIimage, #ResumeImage, #GitHubImage {
    width: 30px;
    height: 30px;
    position: relative;
    top: 9px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}


#submit {
    width: 300px;
    height: 50px;
    background-color: #111111;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
    justify-content: center;
    display: flex;
    font-size: 15px;
}
#submit:hover {
    background-color: #007fbc;
    text-decoration: white;
}
#education-title {
    display: flex;
    justify-content: center;
}
#name {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}


ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
li {
    margin-right: 15px;
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
    text-decoration: #222222;
}
textarea {
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: black;
    color: white;
    padding: 4px;
    resize: none;
}


.button {
    text-decoration: none;
    color: white;
    background-color: #111111;
    border: 1px solid #007fbc;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
}
.button:hover {
    background-color: #007fbc;
    text-decoration: white;
}
.professional-links {
    padding-top: 225px;
    display: inline-block;
    justify-content: center;
    font-size: 40px;
}
.first-block {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}
.header {
    text-align: center;
    font-size: 42px;
    font-weight: 530;
}
.top-form {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.submit {
    display: flex;
    justify-content: center;
}
.form {
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: black;
    color: white;
    padding: 4px;
    resize: none;
}
.education {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
    display: flex;
    border: 1px solid #ccc;
}
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s ease-out;
}

.splash-content {
    text-align: center;
    color: white;
    font-size: 36px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf);
}
