#menu {
    display: block;
    padding: 4px;
    background-color: black;
}
#about {
    text-align:center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: 2s;
}
#about-title {
    opacity: 0;
    animation: slideDown 1s ease forwards;
    animation-delay: 3s;
}
#about-text {
    width: 22%;
    justify-content: center;
    margin: 0 auto; 
    padding-top: 15px; 
    font-size: 19px; 
    font-weight: 500;
}
#resume {
    font-weight: 100;
    text-align: center;
}
#name {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#section-title {
    display: flex; 
    justify-content: center; 
    width: 100%;
    font-size: 60px;
    padding-bottom: 45px;
}
#project-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}
#body-style {
    font-family: Roboto;
    background-color:rgb(0, 0, 0); 
    color: white; 
    margin: 0;    
}
#blank-style {
    text-decoration: none;
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    position: relative; /* Add this line */
}
#blank-style::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: white;
    transition: width 0.3s ease, left 0.3s ease;
}
#blank-style:hover::after {
    width: 100%;
    left: 0;
}
#blank-project {
    display: flex; 
    justify-content: center; 
    flex-direction: column;
}
#experience-title {
    display: flex; 
    justify-content: center; 
    width: 100%;
    font-size: 60px;
    padding-bottom: 45px;
}

header {
    padding-top: 13px;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: 2s;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    position: relative; 
}
nav a:hover {
    background-color: rgb(54, 54, 54);
}
nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
}
nav a:hover::after {
    width: 100%;
}
i {
    display: flex;
    justify-content: center;
}
figcaption {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.button {
    text-decoration: none;
    color: white;
    background-color: #111111;
    border: 2px solid #ccc;
    border-radius: 30%;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 2s ease forwards;
    animation-delay: 2s;
    transition: padding .25s;
}
.button:hover {
    background-color: grey;
    text-decoration: white;
    box-shadow: 0 0 10px 2px #ccc;
    padding: 12px;
}
.professional-links {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin-left: 50px;
}
.professional-links a {
    display: inline-flex;
    width: 40px;
    height: 40px;
}
.first-block {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    /* z-index: 10; */
}
.header {
    text-align: center;
    font-size: 62px;
    font-weight: 700;
    padding-top: 50px;
}
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 2s ease-out;
}
.splash-content {
    text-align: center;
    color: white;
    font-size: 36px;
}
.second-block {
    display: flex;
    width: 100%;
    background-color: rgb(34, 34, 34);
    flex-wrap: wrap;
}
.responsive-diagonal {
    width: 100%;
    height: 25vh;
    background: linear-gradient(to right bottom, black 50%, rgb(34, 34, 34) 50.3%);
    display: flex;
}
.responsive-diagonal2 {
    width: 100%;
    height: 25vh;
    background: linear-gradient(to right bottom, rgb(34, 34, 34) 50%, rgb(47, 47, 47)50.3%);
    display: flex;
}
.hidden {
    opacity: 0; 
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(-25%);
}
.hidden2 {
    opacity: 0; 
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(25%);
}
.hidden3 {
    opacity: 0; 
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(100px);
}
.hidden4 {
    opacity: 0; 
    transition: all 1s;
    filter: blur(5px);
    transform: translateY(-100px);
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
    transform: translateY(0px);
}
.project-description {
    width: 35%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.tech-icons {
    display: flex;
    flex-direction:column; 
    justify-content: center;
    padding-left: 20px;
    font-size: 10px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    animation-delay: 3s;

}
.third-block {
    display: flex;
    width: 100%;
    background-color: rgb(47, 47, 47);
    flex-wrap: wrap;
}
/* .parallax-wrap {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallax-wrap span {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}
.parallax-wrap span:nth-child(1) {
    top: 70%;
    left: 70%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(2) {
    top: 60%;
    left: 80%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(3) {
    top: 40%;
    left: 10%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(4) {
    top: 20%;
    left: 30%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(5) {
    top: 80%;
    left: 90%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(6) {
    top: 10%;
    left: 70%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(7) {
    top: 50%;
    left: 20%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(8) {
    top: 90%;
    left: 30%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(9) {
    top: 30%;
    left: 60%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(10) {
    top: 10%;
    left: 10%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(11) {
    top: 80%;
    left: 10%;
    background: white;
    z-index: 3;
}
.parallax-wrap span:nth-child(12) {
    top: 20%;
    left: 90%;
    background: white;
    z-index: 3;
} */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideLeft {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideRight {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
@font-face {
    font-family: Roboto;
    src: url(../Roboto/Roboto-Light.ttf);
}

/* This applies to the whole page */
::-webkit-scrollbar {
    width: 13px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: rgb(65, 65, 65); /* Color of the track */
}

::-webkit-scrollbar-thumb {
    background: white; /* Color of the scroll thumb */
    border-radius: 10px; /* Roundness of the scroll thumb */
    border: 1px solid black;
}
::-webkit-scrollbar-thumb:hover {
    background: #959595; /* Color of the scroll thumb when hovering */
}